@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



#top-bar{
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display:flex;
    align-items:center;
    padding-top:10px;
    padding-left:50px;
    padding-right:200px;
    z-index:100;
}

#top-logo{
    height: 95px;
    width: 95px;
    margin-left:30px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:50px;
}

#top-interactables{
    color:black;
    display:flex;
    font-size:20px;
    margin-left:100px;
    flex-grow:1;
    justify-content:space-between;
}

.toplinka{
    text-decoration:none;
    color:black;
    position: relative;
    background: linear-gradient(#3D5DAF 0 0) no-repeat calc(200% - var(--p,0%)) 100% / 200% var(--p,.08em);
    transition: .2s var(--t,0s), background-position .1s calc(.3s - var(--t,0s));
}

.toplinka:hover{
    --p: 100%;
    --t: .3s;
    color: #fff;
}

.toplinka_{
    font-weight: 700;
    text-decoration:none;
    color:black;
    position: relative;
    background: linear-gradient(#3D5DAF 0 0) no-repeat calc(200% - var(--p,0%)) 100% / 200% var(--p,.08em);
    transition: .2s var(--t,0s), background-position .1s calc(.3s - var(--t,0s));
}

.toplinka_:hover{
    --p: 100%;
    --t: .3s;
    color: #fff;
}

#topportion{
    margin-top:125px;
    display:block;
    align-items: center;
    background-color: #D9EEFD;
}

#comp-specifics{
    display:block;
    align-items: center;
    background-color: white;
}

#funding{
    display:block;
    align-items: center;
    background-color: #D9EEFD;
    padding-bottom: 60px;
}

#benefits{
    display:block;
    align-items: center;
    background-color: white;
}

#headertext{
    font-weight:800;
    font-size:70px;
    text-align: center;
    margin:0px;
    padding-top:80px;
}

#desctext{
    font-weight:300;
    font-size:23px;
    text-align: center;
    margin:15px 0px 0px 0px;
    padding-bottom:80px;
}

.divider{
    background-color: #3D5DAF;
    height:15px;
    left:0px;
    right:0px;
    position:relative;
}

#headerwrap-1{
    margin: 80px 0px 0px 15px;
}

#headerwrap-2{
    margin: 80px 0px 0px 15px;
    padding-top: 40px;
}

#headerwrap-3{
    margin: 80px 0px 0px 15px;
}

#headertext-1{
    font-size:32px;
    font-weight:700;
    padding-left:80px;
}

.contentwrap{
    color: black;
    margin-left:20px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight:800;
}

.collapsibleTitle{
    font-size: 20px;
    font-weight:600;
}

.collapsible{
    color: black;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:100px;
    margin-right:100px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: 600;
}

.split-line{
    height: 1px;
    margin-top: 0px;
    background-color: white;
}

#CompetitionSpecifics1, 
#CompetitionSpecifics3, 
#CompetitionSpecifics4, 
#CompetitionSpecifics2, 
#CompetitionSpecifics5,
#Funding1,
#Funding2,
#Benefits1,
#Benefits2{
    display: none;
}




#join-wrapper{
    width: 100%;
    margin-top: 90px;
    background-color: rgb(61, 93, 175);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color:white;
}

.white-line{
    width: 85%;
    height: 1px;
    margin-top: 0px;
    background-color: white;
}

#join-title-div{
    padding-top: 25px;
}

#join-title{
    font-size: 40px;
    font-weight: 600;
}

#join-slogan{
    font-size: 20px;
    margin-top: -15px;
}

#join-below{
    display: flex;
    justify-content: center;
}

#signup-button{
    border-radius: 50px;
    border: 0;
    color: white;
    width:270px;
    height:72px;
    padding:8px;
    font-family: "Poppins", sans-serif;
    font-size:26px;
    font-weight: 600;
    word-spacing: 1.5px;
    background: rgb(114,183,230);
    text-align:center;
    background: linear-gradient(90deg, rgba(114,183,230,1) 0%, rgba(150,224,211,1) 100%);
}

.join-subtitles-div{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.join-subtitles{
    font-size: 30px;
    font-weight: 600;
}

#action-info{
    display:block;
    font-size: 28px;
    line-height: 60px;
    max-height: 150px;
}

#connect-info{
    margin-top: 15px;
}

#email{
    margin:0px 0px 15px 0px;
}

#insta{
    padding-right: 20px;
}

#linkedin{
    padding-left: 15px;
}


.link,.link:visited,.link:active{
    font-size:20px;
    color:white;
    text-decoration: none;
    font-weight:300;
    margin:0px 0px 0px 0px;
}

.link:hover{
    text-decoration: underline;
}

#linkwrap{
    margin:0;
    line-height: normal;
}

#link2,#link2:visited,#link2:active{
    font-size:18px;
    color:white;
    text-decoration: none;
    font-weight:300;

}

#link2:hover{
    text-decoration: underline;
}

.link3,.link3:visited,.link3:active{
    color: black;
    font-size:20px;
    text-decoration: none;
    font-weight:600;
    margin:0px 0px 0px 0px;
}

#keep-exploring{
    margin: 40px 50px 100px 230px;
    display:flex;
    flex-direction: row;
}

#keep-exploring-left{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display:flex;
    flex-direction:column;
    padding:10px 80px 50px 80px;
    background-color:#D9EEFD;
}

#keep-exploring-right{
    margin:0;
    padding:0;
}

#keep-exploring-right-image{
    height: 100%;
    object-fit: cover;
    width:500px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.headertext-2{
    font-size:40px;
    font-weight:700;
    text-align: center;
    padding-bottom:50px;
    padding-top:50px;
}

.gradient-button{
    margin-bottom:30px;
    border-radius: 50px;
    border: 0;
    color: white;
    padding:12px 40px 12px 40px;
    font-size:20px;
    font-weight: 600;
    word-spacing: 1.5px;
    background: rgb(114,183,230);
    text-align:center;
    background: linear-gradient(90deg, rgba(114,183,230,1) 0%, rgba(150,224,211,1) 100%);
}