#post-form {
    background-color: white;
    color: var(--dark-main-colour);
    border-radius: 0 0 0 0;
    position: relative;
    margin: 0 auto;
    padding: 25px;
    width: 40vw;
    z-index: 2;
}

#username {
    display: inline-flex;
    text-align: left;
    align-items: center;
}

#display-name {
    color: black;
    padding: 0;
    margin: 0;
}

#comments { 
    background-color: white;
    box-shadow: 0 0 .5rem var(--shadow-colour);
    color: var(--dark-main-colour);
    transition: opacity 0.3s ease;
    position: relative;
    text-align: center;
    overflow-y: auto;
    margin: 0 auto;
    height: 100%;
    width: 40vw;
    opacity: 0;
    z-index: 0;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-secondary-colour);
}

#content {
    width: calc(100% - 25px);
}

.post * {
    user-select: none;
}

.post {
    border-radius: 5px;
    margin: 25px;
}

.post-content {
    background-color: var(--dark-primary-colour);
    overflow-wrap: break-word;
    border-radius: 5px;
    text-align: left;
    padding: 10px;
    margin: 0;
}

.post-metadata {
    background-color: var(--dark-background-colour);
    color: var(--dark-disabled-colour);
    border-radius: 0 0 5px 5px;
    text-align: center;
    font-size: .8rem;
    padding: 5px;
    width: auto;
    margin: 0;
}

.post-username {
    color: var(--dark-main-colour);
}

#sort-wrapper {
    background-color: var(--dark-tertiary-colour);
    box-shadow: 0 0 .5rem var(--shadow-colour);
    color: var(--dark-main-colour);
    border-radius: 0 0 1dvh 1dvh;
    align-items: center;
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: flex;
    width: 41.5vw;
    height: 10vh;
    z-index: 1;
}

#sort-form {
    width: 100%;
    margin: 10px;
}

.post > :not(#post-content) {
    margin: 0 5px;
}

.post input:not(.reply-submit) {
    all: unset;
}

.post-footer label:not(.add-label) {
    padding-left: 10px;
}

.post-footer {
    background-color: var(--dark-secondary-colour);
    border-radius: 0 0 5px 5px;
}

.replies {
    border-radius: 0 0 5px 5px;
    background-color: inherit;
    overflow: hidden;
}

.replies > .wrapper {
    transition: margin 0.3s ease;
}

.reply-button {
    justify-content: space-around;
    margin: calc(5px + 1rem) 0;
    align-items: center;
    font-size: 1rem;
    display: flex;
    height: 1rem;
}

.add-label {
    width: 1rem;
}

.reply-form {
    background-color: var(--dark-background-colour);
    border-radius: 10px 2rem 2rem 10px;
    transform: translate(.5rem);
    align-items: center;
    padding-right: 0;
    overflow: hidden;
    display: flex;
    border: none;
    height: 0;
    width: 0;
}

#forum-info{
    background-color: white;
    border-radius: 0 0 0 0;
    position: relative;
    margin: 0 auto;
    padding: 25px;
    width: 40vw;
    z-index: 2;
}

#info-title{
    font-weight: bold;
    background-color: white;
    color: blue;
    font-size: x-large;
}

#info-displayed{
    background-color: white;
    color: black;
    font-size: medium;
}

#topic{
    border-color: black;
}
