@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face{
    font-family: "Source Sans Pro", sans-serif;
    src: url("../fonts/sourcesanspro-black-webfont.woff") format("woff");
}

#post-form {
    color: white;
    border-radius: 0 0 0 0;
    position: relative;
    margin: 0 auto;
    margin-top: -20px;
    width: 40vw;
    padding-bottom: 20px;
}

#username {
    display: inline-flex;
    text-align: left;
    align-items: center;
    margin-left: -40px;
    font-size: 20px;
    padding-top: 20px;
}

#display-name {
    color: black;
    padding: 0;
    margin: 0;
}

#comments { 
    background-color: white;
    color: white;
    transition: opacity 0.3s ease;
    position: relative;
    text-align: center;
    overflow-y: auto;
    margin: 0 auto;
    height: 700px;
    width: 40vw;
    opacity: 0;
    z-index: 0;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-secondary-colour);
}

#content {
    width: calc(100% - 25px);
    padding-left: 20px;
    padding-top: 15px;
}

.post * {
    user-select: none;
}

.post {
    border-radius: 5px;
    margin: 25px;
}

.post-content {
    background-color: var(--dark-primary-colour);
    overflow-wrap: break-word;
    border-radius: 5px;
    text-align: left;
    padding: 10px;
    margin: 0;
}

.post-metadata {
    background-color: var(--dark-background-colour);
    color: var(--dark-disabled-colour);
    border-radius: 0 0 5px 5px;
    text-align: center;
    font-size: .8rem;
    padding: 5px;
    width: auto;
    margin: 0;
}

.post-username {
    color: var(--dark-main-colour);
}

#sort-wrapper {
    background-color: white;
    align-items: center;
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: flex;
    width: 850px;
    height: 10vh;
    z-index: 1;
}

#sort-form {
    width: 100%;
    margin: 10px;
}

.post > :not(#post-content) {
    margin: 0 5px;
}

.post input:not(.reply-submit) {
    all: unset;
}

.post-footer label:not(.add-label) {
    padding-left: 10px;
}

.post-footer {
    background-color: var(--dark-secondary-colour);
    border-radius: 0 0 5px 5px;
}

.replies {
    border-radius: 0 0 5px 5px;
    background-color: inherit;
    overflow: hidden;
}

.replies > .wrapper {
    transition: margin 0.3s ease;
}

.reply-button {
    justify-content: space-around;
    margin: calc(5px + 1rem) 0;
    align-items: center;
    font-size: 1rem;
    display: flex;
    height: 1rem;
}

.add-label {
    width: 1rem;
}

.reply-form {
    background-color: var(--dark-background-colour);
    border-radius: 10px 2rem 2rem 10px;
    transform: translate(.5rem);
    align-items: center;
    padding-right: 0;
    overflow: hidden;
    display: flex;
    border: none;
    height: 0;
    width: 0;
}

#forum-info{
    background-color: white;
    color: black;
    border-radius: 0 0 0 0;
    position: relative;
    margin: 0 auto;
    width: 40vw;
    z-index: 2;
}

#info-title{
    font-weight: bold;
    background-color: white;
    color: rgb(61, 93, 175);
    font-size: 42px;
    margin-left: -45px;
}

#info-displayed{
    width: 1000px;
    font-weight: 50;
    line-height: 32px;
    font-family: "Source Sans Pro", sans-serif;
    background-color: white;
    color: black;
    font-size: 24.8px;
    margin-left: -32px;
}

#forum-reminder{
    width: 1000px;
    font-style: italic;
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(61, 93, 175);
    font-weight: 650;
    font-size: 25.5px;
    margin-left: -35px;
    padding-top: 36px;
}

#topic{
    border-radius: 50px;
    border-color:rgb(61, 93, 175);
    border-width: 2px;
    margin-left: -17px;
    width: 850px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.01px;
    margin-left: -40px;
    color: black;
    padding-left: 20px;
}

#content{
    border-radius: 25px;
    border-color:rgb(61, 93, 175);
    border-width: 2px;
    font-size: 21.5px;
    width: 850px;
    height: 285px;
    margin-left: -40px;
    color: rgb(180, 174, 174);
}

::placeholder{
    color: black;
}

#post-submit{
    border-radius: 50px;
    border: 0;
    color: white;
    width:135px;
    height:45px;
    padding:8px;
    margin-top: 22px;
    font-size:24px;
    font-weight: 700;
    word-spacing: 1.5px;
    background: rgb(114,183,230);
    text-align:center;
    background: linear-gradient(90deg, rgba(114,183,230,1) 0%, rgba(150,224,211,1) 100%);
}

#discussion{
    color: black;
    text-align: center;
    margin-left: -650px;
    font-size: 40px;
    font-weight: 700;
}

.line{
    width: 36.5%;
    height: 1px;
    margin-right: 470px;
    margin-top: 0px;
    background-color: black
}

#sort-display{
    color: black;
    background-color: white;
    font-size: 20px;
}
.dropdown-values{
    color: white;
}

#sort-by-display{
    color: black;
    background-color: white;
}

#sort-by{
    border-color: black;
}

#post-button{
    text-align: right;
    margin-left: 692px;
    margin-top: -19px;
}

#extra-wrapper{
    color: black;
    align-items: center;
    position: relative;
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgb(217, 238, 253);
    width: 95%;
}

#extra-title{
    font-size: 80px;
    font-weight: 700;
}

.extra-title-div{
    padding-top: 75px;
    padding-bottom: 30px;
}

#extra-info{
    margin-left: 100px;
    display: flex;
}

.extra-info-subtitle{
    color: rgb(61, 93, 175);
    font-size: 48px;
    font-weight: 700;
}

.extra-info-subtext{
    color: black;
    font-size: 32px;
    font-weight:200;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 48px;
}

.extra-format{
    padding:40px;
}

#getinvolved-button2{
    border-radius: 50px;
    border: 0;
    color: white;
    width:320px;
    height:85px;
    padding:8px;
    margin-top: 22px;
    font-family: "Poppins", sans-serif;
    font-size:28px;
    font-weight: 600;
    word-spacing: 1.5px;
    background: rgb(114,183,230);
    text-align:center;
    background: linear-gradient(90deg, rgba(114,183,230,1) 0%, rgba(150,224,211,1) 100%);
}


#top-wrapper{
    color: black;
    align-items: center;
    position: relative;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(217, 238, 253);
    width: 100%;
}