@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face{
    font-family: "Source Sans Pro", sans-serif;
    src: url("../fonts/sourcesanspro-black-webfont.woff") format("woff");
}

.toplinka{
    text-decoration:none;
    color:black;
    position: relative;
    background: linear-gradient(#3D5DAF 0 0) no-repeat calc(200% - var(--p,0%)) 100% / 200% var(--p,.08em);
    transition: .2s var(--t,0s), background-position .1s calc(.3s - var(--t,0s));
}

.toplinka_{
    font-weight: 700;
    text-decoration:none;
    color:black;
    position: relative;
    background: linear-gradient(#3D5DAF 0 0) no-repeat calc(200% - var(--p,0%)) 100% / 200% var(--p,.08em);
    transition: .2s var(--t,0s), background-position .1s calc(.3s - var(--t,0s));
}

.toplinka:hover{
    --p: 100%;
    --t: .3s;
    color: #fff;
}

#getinvolved-link{
    font-weight:700;
}

#curved-line{
    margin-top: -180px;
}

#ways-info-title{
    font-weight: 700;
    background-color: white;
    color: rgb(61, 93, 175);
    font-size: 65px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
}

#ways-extra-info{
    display: flex;
    align-items: top;
    justify-content: space-between;
    text-align: center;
}

#ways-extra-format1{
    background-color: #f6f6f6;
    border-radius: 20px;
    text-align: center;
    padding:25px;
    width: 400px;
    margin-top: 200px;
}

#ways-extra-format2{
    background-color: #f6f6f6;
    border-radius: 20px;
    text-align: center;
    padding:25px;
    width: 400px;
    margin-bottom: 250px;
}

#ways-extra-format3{
    background-color: #f6f6f6;
    border-radius: 20px;
    text-align: center;
    padding:25px;
    width: 400px;
    margin-top: 300px;
    margin-bottom: 100px;
}

#ways-info-displayed{
    font-weight: 50;
    background-color: white;
    color: black;
    font-size: 25px;
    line-height: 48px;
    width: 80%;
    margin: auto;
}

.ways-img{
    padding: 20px;
}

.ways-extra-info-subtitle{
    color: black;
    font-size: 32px;
    font-weight: 700;
}

.ways-extra-info-subtext{
    color: black;
    font-size: 34.5px;
    font-weight: 400;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 50px;
}

#topic{
    border-radius: 50px;
    border-color:rgb(61, 93, 175);
    border-width: 2px;
    width: 80%;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.01px;
    color: black;
    padding-left: 20px;
}

#content{
    border-radius: 25px;
    border-color:rgb(61, 93, 175);
    border-width: 2px;
    font-size: 32px;
    width: 80%;
    height: 285px;
    color: rgb(180, 174, 174);
}

::placeholder{
    color: black;
}

#post-submit{
    border-radius: 50px;
    border: 0;
    color: white;
    width:135px;
    height:45px;
    margin-top: 22px;
    font-size:24px;
    font-weight: 700;
    word-spacing: 1.5px;
    background: rgb(114,183,230);
    text-align:center;
    background: linear-gradient(90deg, rgba(114,183,230,1) 0%, rgba(150,224,211,1) 100%);
}

#discussion{
    color: black;
    font-size: 56px;
    font-weight: 700;
    margin-left: 180px;
    padding-top: 30px;
}

.discussion-line{
    width: 89%;
    height: 1px;
    margin-left: -10px;
    margin-top: 0px;
    background-color: black
}

#sort-display{
    color: black;
    background-color: white;
    font-size: 20px;
    margin-left: 0px;
}
.dropdown-values{
    color: white;
}

#sort-by-display{
    color: black;
    background-color: white;
}

#sort-by{
    border-color: black;
}

#post-button{
    width: 80%;
    text-align: right;
    margin-top: -19px;
}

#extra-wrapper{
    color: black;
    align-items: center;
    position: relative;
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgb(217, 238, 253);
    width: 95%;
    padding-bottom: 32px;
}

#extra-title{
    font-size: 60px;
    font-weight: 700;
}

.extra-title-div{
    padding-top: 50px;
    padding-bottom: 15px;
    margin-top: 50px;
}

#extra-info{
    display: flex;
    align-items: top;
    justify-content: center;
}

.extra-info-subtitle{
    color: rgb(61, 93, 175);
    font-size: 38px;
    font-weight: 700;
}

.extra-info-subtext{
    color: black;
    font-size: 22px;
    font-weight:200;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 30px;
}

.extra-format{
    padding:25px;
}

#findoutmore-button{
    border-radius: 50px;
    border: 0;
    color: white;
    width:325px;
    height:70px;
    padding:8px;
    margin-bottom: 50px;
    font-family: "Poppins", sans-serif;
    font-size:24px;
    font-weight: 600;
    word-spacing: 1.5px;
    background: rgb(114,183,230);
    text-align:center;
    background: linear-gradient(90deg, rgba(114,183,230,1) 0%, rgba(150,224,211,1) 100%);
}

#top-wrapper{
    color: black;
    align-items: center;
    position: relative;
    text-align: center;
    margin-top: 125px;
    background-color: rgb(217, 238, 253);
    width: 100%;
}

#top-title{
    font-size: 126px;
    font-weight: 700;
}

#top-title-div{
    padding-top: 150px;
}

#getinvolved-slogan{
    font-size: 35px;
}

#top-bar{
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display:flex;
    align-items:center;
    padding-top:10px;
    padding-left:50px;
    padding-right:200px;
    z-index:100;
}

#top-logo{
    height: 95px;
    width: 95px;
    margin-left:30px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:50px;
}

#top-interactables{
    color:black;
    display:flex;
    font-size:20px;
    margin-left:100px;
    flex-grow:1;
    justify-content:space-between;
}

.curved {
    background-color: rgb(114,183,230);
    color: blue;
}

#second-wrapper{
    color: black;
    position: relative;
    margin-top: 80px;
    background-color: rgb(217, 238, 253);
    width: 100%;
    display:flex;
    justify-content:space-between;
    padding: 0px;
}

#second-wrapper-left{
    margin-left: 180px;
    margin-top:80px;
}

#second-wrapper-right{
    margin: 0px;
}

.second-wrapper-subtitle{
    color: black;
    font-size: 52px;
    font-weight: 700;
}

.second-wrapper-subtext{
    color: black;
    font-size: 34.5px;
    font-weight: 300;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 50px;
}

#second-wrapper-bottom-block{
    background-color: white;
    border-radius: 30px;
    margin-top: 60px;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
}

#second-wrapper-email{
    color: black;
    font-size: 34px;
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 50px;
}

#email-button{
    border-radius: 50px;
    border: 0;
    color: white;
    width:600px;
    height:100px;
    padding:8px;
    font-family: "Poppins", sans-serif;
    font-size:30px;
    font-weight: 300;
    word-spacing: 1.5px;
    background: rgb(114,183,230);
    text-align:center;
    background: linear-gradient(90deg, rgba(114,183,230,1) 0%, rgba(150,224,211,1) 100%);
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

button > img,
button > span {
  vertical-align: middle;
}

.third-wrapper{
    display: flex;
    justify-content: center;
}

.third-wrapper-div{
    width: 1250px;
    padding: 50px;
    background-color: #F6F6F6;
    border-radius: 20px;
    margin-bottom: 50px;
}

.third-wrapper-title{
    color: black;
    font-size: 34px;
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 50px;
}

.third-wrapper-subtext{
    color: black;
    font-size: 35px;
    font-weight: 300;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 50px;
}

.third-wrapper-expand{
    color: black;
    font-size: 24px;
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 28px;
}

.third-wrapper-expandtext{
    color: black;
    font-size: 22px;
    font-weight: 300;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 32px;
    margin-left: 50px;
}

.third-wrapper-expandsubtext{
    line-height: 45px; 
    margin-left: -15px;
}

.third-wrapper-button{
    border-radius: 50px;
    border: 0;
    color: white;
    width:325px;
    height:70px;
    padding:8px;
    font-family: "Poppins", sans-serif;
    font-size:26px;
    font-weight: 400;
    word-spacing: 1.5px;
    background: rgb(114,183,230);
    text-align:center;
    background: linear-gradient(90deg, rgba(114,183,230,1) 0%, rgba(150,224,211,1) 100%);
    cursor: pointer;
}

#eligibility{
    display: none;
}

#rubricCriteria{
    display: none;
}

#positions{
    display: none;
}

#forth-wrapper{
    color: black;
    position: relative;
    margin-top: 80px;
    background-color: rgb(217, 238, 253);
    width: 100%;
    display:flex;
    justify-content:space-between;
    padding: 0px;
}

#forth-wrapper-inner{
    margin-left: 180px;
    margin-top:80px;
}

#forth-wrapper-subtitle{
    color: black;
    font-size: 52px;
    font-weight: 700;
}

#forth-wrapper-subtitle2{
    color: black;
    font-size: 33px;
    font-weight: 500;
    font-family: "Source Sans Pro", sans-serif;
    margin-top: 10px;
    margin-bottom: 55px;
}

.forth-wrapper-subtext{
    color: black;
    font-size: 26.5px;
    font-weight: 350;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 50x;
    margin-top: -15px;
}

.fifth-wrapper{
    display: flex;
    justify-content: center;
}

.fifth-wrapper-div{
    width: 1150px;
    padding: 100px;
    background-color: #F6F6F6;
    border-radius: 20px;
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.fifth-wrapper-title{
    color: black;
    font-size: 65px;
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 50px;
}

#qa-button{
    border-radius: 100px;
    border: 0;
    color: white;
    width:450px;
    height:130px;
    padding:8px;
    margin-bottom: 50px;
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    word-spacing: 1.5px;
    background: rgb(114,183,230);
    text-align:center;
    background: linear-gradient(90deg, rgba(114,183,230,1) 0%, rgba(150,224,211,1) 100%);
    cursor: pointer;
}


#join-wrapper{
    width: 100%;
    margin-top: 90px;
    background-color: rgb(61, 93, 175);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color:white;
}

.white-line{
    width: 85%;
    height: 1px;
    margin-top: 0px;
    background-color: white;
}

#join-title-div{
    padding-top: 25px;
}

#join-title{
    font-size: 40px;
    font-weight: 600;
}

#join-slogan{
    font-size: 20px;
    margin-top: -15px;
}

#join-below{
    display: flex;
    justify-content: center;
}

#signup-button{
    border-radius: 50px;
    border: 0;
    color: white;
    width:270px;
    height:72px;
    padding:8px;
    font-family: "Poppins", sans-serif;
    font-size:26px;
    font-weight: 600;
    word-spacing: 1.5px;
    background: rgb(114,183,230);
    text-align:center;
    background: linear-gradient(90deg, rgba(114,183,230,1) 0%, rgba(150,224,211,1) 100%);
}

.join-subtitles-div{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.join-subtitles{
    font-size: 30px;
    font-weight: 600;
}

#action-info{
    display:block;
    font-size: 28px;
    line-height: 60px;
    max-height: 150px;
}

#connect-info{
    margin-top: 15px;
}

#email{
    margin:0px 0px 15px 0px;
}

#insta{
    padding-right: 20px;
}

#linkedin{
    padding-left: 15px;
}

.link,.link:visited,.link:active{
    font-size:20px;
    color:white;
    text-decoration: none;
    font-weight:300;
    margin:0px 0px 0px 0px;
}

.link:hover{
    text-decoration: underline;
}

#linkwrap{
    margin:0;
    line-height: normal;
}

#link2,#link2:visited,#link2:active{
    font-size:18px;
    color:white;
    text-decoration: none;
    font-weight:300;

}

#link2:hover{
    text-decoration: underline;
}