
*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.topbar{
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display:flex;
    flex-wrap:nowrap;
    align-items:center;
    padding-top:10px;
    margin-left:50px;
    margin-right:200px;
}

.toplogo{
    height: 95px;
    width: 95px;
    margin-left:30px;
    margin-top:10px;
    padding-bottom:10px;
    padding-right:50px;
}

.topinteractables{
    color:black;
    font-weight:700; /* why this not working? */
    display:flex;
    font-size:20px;
    margin-left:100px;
    flex-grow:1;
    justify-content:space-between;
}