@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



#top-bar{
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display:flex;
    align-items:center;
    padding-top:10px;
    padding-left:50px;
    padding-right:200px;
    z-index:100;
}

#top-logo{
    height: 95px;
    width: 95px;
    margin-left:30px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:50px;
}

#top-interactables{
    color:black;
    display:flex;
    font-size:20px;
    margin-left:100px;
    flex-grow:1;
    justify-content:space-between;
}

/* #top-interactables > p {
    font-weight:400;
}
 */
#leftwrappertop{
    max-width:700px;
}

#topwrapper{
    display:flex;
    margin-left:200px;
    margin-top:180px;
    justify-content: space-between;
}

#headertext{
    font-size:40px;
    font-weight:700;
}

#getinvolved-button{
    border-radius: 50px;
    border: none;
    width:275px;
    height:70px;
    padding:8px;
    font-size:22px;
    font-weight:700;
    color:white;
    background: rgb(114,183,230);
    text-align:center;
    background: linear-gradient(90deg, rgba(114,183,230,1) 0%, rgba(150,224,211,1) 100%);
}

#earth{
    transform: scaleX(-1);
    margin-top:-280px;
    margin-right:-30px;
    width:503.2px;
    height:753.6px;
}

.toplinka{
    text-decoration:none;
    color:black;
    position: relative;
    background: linear-gradient(#3D5DAF 0 0) no-repeat calc(200% - var(--p,0%)) 100% / 200% var(--p,.08em);
    transition: .2s var(--t,0s), background-position .1s calc(.3s - var(--t,0s));
}

.toplinka:hover{
    --p: 100%;
    --t: .3s;
    color: #fff;
}

.toplinka_{
    font-weight: 700;
    text-decoration:none;
    color:black;
    position: relative;
    background: linear-gradient(#3D5DAF 0 0) no-repeat calc(200% - var(--p,0%)) 100% / 200% var(--p,.08em);
    transition: .2s var(--t,0s), background-position .1s calc(.3s - var(--t,0s));
}

.toplinka_:hover{
    --p: 100%;
    --t: .3s;
    color: #fff;
}


.divider{
    background-color: #3D5DAF;
    height:20px;
    left:0px;
    right:0px;
    position:relative;
}

#lowertop{
    background: rgb(168,205,234);
    left:0px;
    right:0px;
    position:relative;
    background: linear-gradient(90deg, rgba(168,205,234,1) 0%, rgba(193,232,224,1) 100%);

}

#lowertopwrap{
    margin: 0px 200px 0px 200px;
    padding-top:70px;
    padding-bottom:70px;
    display:flex;
    flex-wrap:nowrap;
    right:0px;
    left:0px;
    justify-content: space-between;
    align-items: center;
}

#innovate-sector,#impact-sector,#inspire-sector{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.style1-round-image{
    border-radius: 160px;
    object-fit: cover;
    width: 270px;
    height:400px;

}

.style1-header-text{
    margin: 20px 0px 10px 0px;
    font-size:30px;
    font-weight:700;

}

.style1-desc-text{
    margin-bottom:23px;
    font-size:18px;
    font-weight:400;
    text-align: center;
    margin-top:0px;
}


.style1-button{
    border-radius:25px;
    border: 2px solid black;
    font-size:14px;
    background-color: transparent;
    color:black;
    padding:10px 20px 10px 20px;
    transition:0.3s;
}


.style1-button:hover{
    border: 2px solid transparent;
    background-color: #243281;
    color:white;
    cursor:pointer;
    
}


.style1-button:hover  .style1-right-arrow{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(185deg) brightness(101%) contrast(105%);
}


.style1-right-arrow{
    width:12px;
    height:12px;
    transition:0.3s;
}

.style1-button-wrapper{
    display:flex;
    align-items: center;
}

#quotesection{
    margin:100px 250px 150px 250px;
    
}

#image-quote{
    width:75x;
    height:59px;
}

#quote-text-wrapper{
    margin-left:100px;
    margin-right:100px;
}

#quote-text{
    font-size:35px;
    font-weight:400;
    text-align: center;
}




#lowerbottom{
    background: rgb(168,205,234);
    left:0px;
    right:0px;
    position:relative;
    background: linear-gradient(90deg, rgba(168,205,234,1) 0%, rgba(193,232,224,1) 100%);

}

#lowerbottomwrap{
    margin: 0px 200px 0px 200px;
    padding-top:70px;
    padding-bottom:70px;
    right:0px;
    left:0px;
}
#lowerbottomheader{
    font-weight:800;
    font-size:45px;
    margin:0;
}

#lowerbottomdesc{
    font-size:25px;
    margin:0 0 20px 0;
}

#carousel-wrapper{
    margin-top:40px;
    padding-bottom:40px;
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
}

.carousel-element{
    display:flex;
    align-items: center;
    margin-right:25px;
}

.carousel-image{
    border-radius: 200px;
    object-fit:cover;
    width: 150px;
    height:250px;
}

.right-carousel-wrapper{
    max-width:450px;
    margin-left:20px;
    background-color: white;
    padding:20px;
    border-radius: 30px;
}

.carousel-header{
    font-weight:800;
    font-size:35px;
    margin:0;
}

.carousel-description{
    font-size:21x;
}

.location-image{
    width:10.5px;
    height:13.29375px;
}

#lowermorebottom{
    display:flex;
    align-items: center;
}

#lowermorebottomleft{
    margin:100px 60px 50px 300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width:400px;
}

#lmbl_header{
    font-weight:700;
    font-size:30px;
    margin:0;
}

#lmbl_desc{
    text-align: center;
    font-size:20px;
    margin: 15px 0px 25px 0px;
}

.button-style2{
    border-radius: 50px;
    border: none;
    width:250px;
    height:50px;
    padding:8px;
    font-size:20px;
    font-weight:700;
    color:white;
    background: rgb(114,183,230);
    text-align:center;
    background: linear-gradient(90deg, rgba(114,183,230,1) 0%, rgba(150,224,211,1) 100%);
    margin-bottom:15px;
}

#filler-image{
    width:432px;
    height:288px;
    border-radius:20px;
}



#join-wrapper{
    width: 100%;
    margin-top: 90px;
    background-color: rgb(61, 93, 175);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color:white;
}

.white-line{
    width: 85%;
    height: 1px;
    margin-top: 0px;
    background-color: white;
}

#join-title-div{
    padding-top: 25px;
}

#join-title{
    font-size: 40px;
    font-weight: 600;
}

#join-slogan{
    font-size: 20px;
    margin-top: -15px;
}

#join-below{
    display: flex;
    justify-content: center;
}

#signup-button{
    border-radius: 50px;
    border: 0;
    color: white;
    width:270px;
    height:72px;
    padding:8px;
    font-family: "Poppins", sans-serif;
    font-size:26px;
    font-weight: 600;
    word-spacing: 1.5px;
    background: rgb(114,183,230);
    text-align:center;
    background: linear-gradient(90deg, rgba(114,183,230,1) 0%, rgba(150,224,211,1) 100%);
}

.join-subtitles-div{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.join-subtitles{
    font-size: 30px;
    font-weight: 600;
}

#action-info{
    display:block;
    font-size: 28px;
    line-height: 60px;
    max-height: 150px;
}

#connect-info{
    margin-top: 15px;
}

#email{
    margin:0px 0px 15px 0px;
}

#insta{
    padding-right: 20px;
}

#linkedin{
    padding-left: 15px;
}

.link,.link:visited,.link:active{
    font-size:20px;
    color:white;
    text-decoration: none;
    font-weight:300;
    margin:0px 0px 0px 0px;
}

.link:hover{
    text-decoration: underline;
}

#linkwrap{
    margin:0;
    line-height: normal;
}

#link2,#link2:visited,#link2:active{
    font-size:18px;
    color:white;
    text-decoration: none;
    font-weight:300;

}

#link2:hover{
    text-decoration: underline;
}