#main {
    background-color: #1f1f1f;
    padding: 5vw;
    border-radius: 10px;
    height: 50vh;
}

.text-input {
    border: solid 1px white;
    border-radius: 10px;
    padding: 10px;
    width: max(50%, 200px);
    margin: 5vh 0;
}

.text-input input {
    background-color: inherit;
    box-sizing: border-box;
    border: none;
    padding: 0;
    width: 100%;
}

#main h1 {
    font-size: 3rem;
    margin: 0 0 1vh 0;
}

a {
    color: white;
    font-weight: 800;
    text-decoration: underline white;
    text-decoration-thickness: 2px;
}