@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



#top-bar{
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display:flex;
    align-items:center;
    padding-top:10px;
    padding-left:50px;
    padding-right:200px;
    z-index:100;
}

#top-logo{
    height: 95px;
    width: 95px;
    margin-left:30px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:50px;
}

#top-interactables{
    color:black;
    display:flex;
    font-size:20px;
    margin-left:100px;
    flex-grow:1;
    justify-content:space-between;
}

.toplinka{
    text-decoration:none;
    color:black;
    position: relative;
    background: linear-gradient(#3D5DAF 0 0) no-repeat calc(200% - var(--p,0%)) 100% / 200% var(--p,.08em);
    transition: .2s var(--t,0s), background-position .1s calc(.3s - var(--t,0s));
}

.toplinka:hover{
    --p: 100%;
    --t: .3s;
    color: #fff;
}

.toplinka_{
    font-weight: 700;
    text-decoration:none;
    color:black;
    position: relative;
    background: linear-gradient(#3D5DAF 0 0) no-repeat calc(200% - var(--p,0%)) 100% / 200% var(--p,.08em);
    transition: .2s var(--t,0s), background-position .1s calc(.3s - var(--t,0s));
}

.toplinka_:hover{
    --p: 100%;
    --t: .3s;
    color: #fff;
}

#topportion{
    margin-top:125px;
    display:block;
    align-items: center;
    background-color: #D9EEFD;
}

#headertext{
    font-weight:800;
    font-size:70px;
    text-align: center;
    margin:0px;
    padding-top:80px;
}

#desctext{
    font-weight:300;
    font-size:23px;
    text-align: center;
    margin:15px 0px 0px 0px;
    padding-bottom:80px;
}

.divider{
    background-color: #3D5DAF;
    height:15px;
    left:0px;
    right:0px;
    position:relative;
}

#mainbody{
    margin-top:30px;
}

.lessoncontainer{
    margin:0px 350px 20px 350px;
    max-width: 770px;
    display:flex;
    border: 1.5px solid black;
    align-items: center;
    border-radius: 20px;
}

.lesson1{
    background: rgb(114,183,230);
    background: linear-gradient(90deg, rgba(114,183,230,1) 0%, rgba(150,224,211,1) 100%);   
}

.lesson2{
    background: rgb(114,183,230);
    background: linear-gradient(90deg, rgba(114,183,230,0.6069021358543417) 0%, rgba(150,224,211,0.590095413165266) 100%);
}

.lesson3{
    background: rgb(114,183,230);
    background: linear-gradient(90deg, rgba(114,183,230,0.3660057773109243) 0%, rgba(150,224,211,0.3688068977591037) 100%);
}

#updatesheadertext{
    margin-left:350px;
    margin-top:70px;
    font-weight: 600;
    color:#3D5DAF;
    font-size:30px;
}

.lessonnum{
    font-weight:700;
    font-size:36px;
    margin:0;
}

.lessondetails{
    font-size:19px;
    font-weight:300;
}

.findthelesson{
    font-size:19px;
    font-weight:600;
}

.numwrap{
    width:50px;
    margin-left:15px;
    margin-right:5px;
    display:flex;
    justify-content:center;
}
.detailwrap{
    display:flex;
    flex-grow:1;
    justify-content: flex-start;
}
.lessonwrap{
    display:flex;
    flex-grow:1;
    justify-content: flex-end;
    margin-right:25px;
}

#lessons{
    margin:100px 0px 0px 200px;
}

#lessonsheadertext{
    font-weight:600;
    font-size:42px;
    margin:0;
}

.line{
    border: 1px solid black;
}