@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



#top-bar{
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display:flex;
    align-items:center;
    padding-top:10px;
    padding-left:50px;
    padding-right:200px;
    z-index:100;
}

#top-logo{
    height: 95px;
    width: 95px;
    margin-left:30px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:50px;
}

#top-interactables{
    color:black;
    display:flex;
    font-size:20px;
    margin-left:100px;
    flex-grow:1;
    justify-content:space-between;
}

.toplinka{
    text-decoration:none;
    color:black;
    position: relative;
    background: linear-gradient(#3D5DAF 0 0) no-repeat calc(200% - var(--p,0%)) 100% / 200% var(--p,.08em);
    transition: .2s var(--t,0s), background-position .1s calc(.3s - var(--t,0s));
}

.toplinka:hover{
    --p: 100%;
    --t: .3s;
    color: #fff;
}

.toplinka_{
    font-weight: 700;
    text-decoration:none;
    color:black;
    position: relative;
    background: linear-gradient(#3D5DAF 0 0) no-repeat calc(200% - var(--p,0%)) 100% / 200% var(--p,.08em);
    transition: .2s var(--t,0s), background-position .1s calc(.3s - var(--t,0s));
}

.toplinka_:hover{
    --p: 100%;
    --t: .3s;
    color: #fff;
}

#topportion{
    margin-top:125px;
    display:block;
    align-items: center;
    background-color: #D9EEFD;
}

#headertext{
    font-weight:800;
    font-size:70px;
    text-align: center;
    margin:0px;
    padding-top:80px;
}

#desctext{
    font-weight:300;
    font-size:23px;
    text-align: center;
    margin:15px 0px 0px 0px;
    padding-bottom:80px;
}

.divider{
    background-color: #3D5DAF;
    height:15px;
    left:0px;
    right:0px;
    position:relative;
}

#mainbody{
    margin-top:30px;
}

.lessoncontainer{
    margin:0px 350px 20px 350px;
    max-width: 770px;
    display:flex;
    border: 1.5px solid black;
    align-items: center;
    border-radius: 20px;
}

.lesson1{
    background: rgb(114,183,230);
    background: linear-gradient(90deg, rgba(114,183,230,1) 0%, rgba(150,224,211,1) 100%);   
}

.lesson2{
    background: rgb(114,183,230);
    background: linear-gradient(90deg, rgba(114,183,230,0.6069021358543417) 0%, rgba(150,224,211,0.590095413165266) 100%);
}

.lesson3{
    background: rgb(114,183,230);
    background: linear-gradient(90deg, rgba(114,183,230,0.3660057773109243) 0%, rgba(150,224,211,0.3688068977591037) 100%);
}

#updatesheadertext{
    margin-left:350px;
    margin-top:70px;
    font-weight: 600;
    color:#3D5DAF;
    font-size:30px;
}

.lessonnum{
    font-weight:700;
    font-size:36px;
    margin:0;
}

.lessondetails{
    font-size:19px;
    font-weight:300;
}

.findthelesson{
    font-size:19px;
    font-weight:600;
}

.numwrap{
    width:50px;
    margin-left:15px;
    margin-right:5px;
    display:flex;
    justify-content:center;
}
.detailwrap{
    display:flex;
    flex-grow:1;
    justify-content: flex-start;
}
.lessonwrap{
    display:flex;
    flex-grow:1;
    justify-content: flex-end;
    margin-right:25px;
}

#lessons{
    margin:100px 0px 100px 200px;
}

#lessonsheadertext{
    font-weight:600;
    font-size:42px;
    margin:0;
}

.line{
    border: 1px solid black;
    margin-bottom:60px;
}

#presentationcontainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:88%
}

.presentationwrap{
    border-radius:20px;
    background-color: #F6F6F6;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:350px;
}

.ptb{
    object-fit:cover;
    max-width:350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.presentationimagedivider{
    border: 3px solid #C0C2C1;
    width:100%;
    margin:0;
}

.pnum{
    font-weight:400;
    font-size:17.5px;
    margin:15px 0px 0px 20px;
    align-self:flex-start;
}

.ptitle{
    font-weight:700;
    font-size:17.5px;
    margin:8px 0px 0px 20px;
    align-self:flex-start;
}
.pdesc{
    font-weight:300;
    font-size:15px;
    margin:15px 0px 0px 20px;
    align-self:flex-start;
}

.pdate{
    font-weight:300;
    font-size:13.5px;
    margin:15px 0px 25px 20px;
    align-self:flex-start;
    color:#A6A6A6;
}

#quote{
    margin:150px 0px 80px 0px;
    background: rgb(114,183,230);
    background: linear-gradient(90deg, rgba(114,183,230,1) 0%, rgba(150,224,211,1) 100%);
}

#quotetextwrap{
    margin:0px 150px 0px 150px;
    padding-top:30px;
    padding-bottom: 30px;
}

#quotetext{
    color:white;
    text-align: center;
    font-size:25px;
}

#signup-button{
    border-radius: 50px;
    border: none;
    width:275px;
    height:70px;
    padding:8px;
    font-size:22px;
    font-weight:700;
    color:white;
    background: rgb(114,183,230);
    text-align:center;
    background: linear-gradient(90deg, rgba(114,183,230,1) 0%, rgba(150,224,211,1) 100%);
}

#joinus{
    background:#D9EEFD;
    margin:0px 0px 80px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#join-left{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left:230px;
    /* padding-top:80px;
    padding-bottom:60px; */
}

#joinus-image{
    max-height: 100%;
    width:auto;
}

#join-headertext{
    font-weight:700;
    font-size:42px;
    margin:0;
}

#join-subtitle{
    text-align: center;
    font-size:18px;

}



#join-wrapper{
    width: 100%;
    margin-top: 90px;
    background-color: rgb(61, 93, 175);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color:white;
}

.white-line{
    width: 85%;
    height: 1px;
    margin-top: 0px;
    background-color: white;
}

#join-title-div{
    padding-top: 25px;
}

#join-title{
    font-size: 40px;
    font-weight: 600;
}

#join-slogan{
    font-size: 20px;
    margin-top: -15px;
}

#join-below{
    display: flex;
    justify-content: center;
}

#signup-button{
    border-radius: 50px;
    border: 0;
    color: white;
    width:270px;
    height:72px;
    padding:8px;
    font-family: "Poppins", sans-serif;
    font-size:26px;
    font-weight: 600;
    word-spacing: 1.5px;
    background: rgb(114,183,230);
    text-align:center;
    background: linear-gradient(90deg, rgba(114,183,230,1) 0%, rgba(150,224,211,1) 100%);
}

.join-subtitles-div{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.join-subtitles{
    font-size: 30px;
    font-weight: 600;
}

#action-info{
    display:block;
    font-size: 28px;
    line-height: 60px;
    max-height: 150px;
}

#connect-info{
    margin-top: 15px;
}

#email{
    margin:0px 0px 15px 0px;
}

#insta{
    padding-right: 20px;
}

#linkedin{
    padding-left: 15px;
}


.link,.link:visited,.link:active{
    font-size:20px;
    color:white;
    text-decoration: none;
    font-weight:300;
    margin:0px 0px 0px 0px;
}

.link:hover{
    text-decoration: underline;
}

#linkwrap{
    margin:0;
    line-height: normal;
}

#link2,#link2:visited,#link2:active{
    font-size:18px;
    color:white;
    text-decoration: none;
    font-weight:300;

}

#link2:hover{
    text-decoration: underline;
}