<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            {% block header %}{% endblock %}
        </header>
        {% block body %}{% endblock %}
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>