<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        {% block head %}{% endblock %}
    </head>
    <body>
        <header class="spread">
            <div>{% block lHeader %}{% endblock %}</div>
            <div>{% block cHeader %}{% endblock %}</div>
            <div>{% block rHeader %}{% endblock %}</div>
        </header>
        {% block body %}{% endblock %}
    </body>
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>