{% extends 'base.html' %}

{% block head %}
<title>Comments</title>
<link href="{{ url_for('static', filename='css/comments.css') }}" rel="stylesheet">
{% endblock %}

{% block lHeader %}
{% endblock %}

{% block cHeader %}
{% endblock %}

{% block rHeader %}
{% endblock %}

{% block body %}
<section id="post-form">
    <form id="comment-form" action="/comments" method="POST" onsubmit="PostComment(event)">
        <div class="wrapper split">
            <div id="username">
                <p id="display-name">Not Signed in.</p>
                <input id="username-input" name="username" type="hidden" autocomplete="off" placeholder="Username...">
            </div>
            <input id="post-submit" type="submit" value="Post!">
        </div>
        <textarea id="content" wrap="soft" name="content" rows="5" placeholder="What would you like to share?"></textarea>
        <input type="hidden" id="channel-input" name="channel" value="{{channel_id}}">
    </form>
</section>
<section id="sort-wrapper">
    <form id="sort-form" class="wrapper split" onsubmit="FilterComments(event)">
        <div>
            Sort by: <div id="sort-by" class="dropdown inline">
                <p id="sort-by-display" class="dropdown-selected">{{ sort | capitalize }}</p>
                <div class="dropdown-values">
                    <a onclick="ChangeFilter('date')">Date</a>
                    <a onclick="ChangeFilter('user')">User</a>
                </div>
            </div>
            <input type="hidden" name="sort-by" id="sort-by-input" value="{{ sort }}">
        </div>
        <div>
            {% if sort == 'date' %}
            <input name="sort-username" autocomplete="off" spellcheck="false" style="display: none;" type="text" id="sort-username" placeholder="Username..." value="{{ s_user }}">
            {% else %}
            <input name="sort-username" autocomplete="off" spellcheck="false" style="display: inline;" type="text" id="sort-username" placeholder="Username..." value="{{ s_user }}">
            {% endif %}
        </div>
    </form>
</section>
<section id="comments">
    {% for comment in comments %}
    <div class="post">
        <p class="post-content">
            {{ comment.content | replace('\r\n', '<br>') | safe }}
        </p>
        <div id="post-footer-{{comment.id}}" class="post-footer">
            <div class="spaced">
                <div class="inline">
                    <label for="show-{{comment.id}}"><img id="arrow-{{comment.id}}" src="{{ url_for('static', filename='images/drarrow-dark.png') }}" class="icon"></label>
                    <input id="show-{{comment.id}}" type="submit" value="View Replies" onclick="ToggleReplies('{{comment.id}}')">
                </div>
                <p class="post-metadata inline">
                    Posted by 
                    <a class="post-username">{{ comment.username }},</a> 
                    {{ comment.time_posted | calculate_time }} ago
                </p>
            </div>
            <div id="replies-{{comment.id}}" class="replies" data-displayed="no" data-replies-loaded="no">
                <div class="wrapper">
                    <div id="add-replies-div-{{comment.id}}" class="hcenter">
                        <div id="reply-button-{{comment.id}}" class="reply-button">
                            <form id="reply-form-{{comment.id}}" class="reply-form" onsubmit="AddReply('{{comment.id}}', event)">
                                <input type="text" id="reply-input-{{comment.id}}" class="reply-input" style="width:100%;text-align:left;" autocomplete="off">
                                <input type="submit" id="reply-submit-{{comment.id}}" class="reply-submit" value=">" style="opacity:0;border-radius:50%;width:1rem;height:1rem;text-align:center;line-height:.2rem;">
                            </form>
                            <label id="add-label-{{comment.id}}" class="add-label" for="add-reply-{{comment.id}}">+</label>
                            <input id="add-reply-{{comment.id}}" type="submit" value="&nbsp;&nbsp;Post Reply" onclick="ToggleReplyInput('{{comment.id}}')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/comments.js') }}"></script>
{% endblock %}