{% extends 'base.html' %}

{% block head %}
<title>Forum</title>
<link href="{{ url_for('static', filename='css/forum.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block lHeader %}
{% endblock %}

{% block cHeader %}
{% endblock %}

{% block rHeader %}
{% endblock %}

{% block body %}
<section id="forum-info">
    <div id="info-title">
        <label>What should I share?</label>
    </div>
    <div id="info-displayed">
        <p>What are the biggest challenges you face in your community? Is there anything in <br>particular that frustrates you?</p>
        <p>Are there any social or environmental issues in your community that concern you?</p>
        <p>What barriers do you or someone you know encounter in accessing essential <br>services in your community?</p>
        <p>What potential solutions do you envision for the challenges confronting your <br>community?</p>
    </div>
    <div id="forum-reminder">
        <p>Feel Free to reply to the comments of others.<br>Please be respectful.</p>
    </div>
</section>
<section id="post-form">
    <form id="comment-form" action="/comments" method="POST" onsubmit="PostComment(event)">
        <div class="wrapper split">
            <div id="username">
                <p id="display-name">Not Signed in.</p>
                <input id="username-input" name="username" type="hidden" autocomplete="off" placeholder="Username...">
            </div>
        </div>
        <div id = "post-topic">
            <textarea id='topic' name='topic' wrap="soft" rows="1" placeholder="&nbsp;Topic/Heading"></textarea>
        </div>
        <div>
            <textarea id="content" wrap="soft" name="content" rows="5" placeholder="&nbsp;Type in your ideas here..."></textarea>
        </div>
        <input type="hidden" id="channel-input" name="channel" value="{{channel_id}}">
       <div id="post-button"> 
            <input id="post-submit" type="submit" value="Post!">
        </div>
    </form>
</section>
<div id="discussion">
    <label>Discussions</label>
    <hr class="line">
</div>
<section id="sort-wrapper">
    <form id="sort-form" class="wrapper split" action="/comments" method="POST">
        <div id="sort-display">
            Sort by: <div id="sort-by" class="dropdown inline">
                <p id="sort-by-display" class="dropdown-selected">{{ sort | capitalize }}</p>
                <div class="dropdown-values">
                    <a onclick="ChangeFilter('date')">Date</a>
                    <a onclick="ChangeFilter('user')">User</a>
                </div>
            </div>
            <input type="hidden" name="sort-by" id="sort-by-input" value="{{ sort }}">
        </div>
        <div>
            {% if sort == 'date' %}
            <input name="sort-username" autocomplete="off" spellcheck="false" style="display: none;" type="text" id="sort-username" placeholder="Username..." value="{{ s_user }}">
            {% else %}
            <input name="sort-username" autocomplete="off" spellcheck="false" style="display: inline;" type="text" id="sort-username" placeholder="Username..." value="{{ s_user }}">
            {% endif %}
        </div>
    </form>
</section>
<section id="comments">
    {% for comment in comments %}
    <div class="post">
        <p class="post-content">
            {{ comment.content | replace('\r\n', '<br>') | safe }}
        </p>
        <div id="post-footer-{{comment.id}}" class="post-footer">
            <div class="spaced">
                <div class="inline">
                    <label for="show-{{comment.id}}"><img id="arrow-{{comment.id}}" src="{{ url_for('static', filename='images/drarrow-dark.png') }}" class="icon"></label>
                    <input id="show-{{comment.id}}" type="submit" value="View Replies" onclick="ToggleReplies('{{comment.id}}')">
                </div>
                <p class="post-metadata inline">
                    Posted by 
                    <a class="post-username">{{ comment.username }},</a> 
                    {{ comment.time_posted | calculate_time }} ago
                </p>
            </div>
            <div id="replies-{{comment.id}}" class="replies" data-displayed="no" data-replies-loaded="no">
                <div class="wrapper">
                    <div id="add-replies-div-{{comment.id}}" class="hcenter">
                        <div id="reply-button-{{comment.id}}" class="reply-button">
                            <form id="reply-form-{{comment.id}}" class="reply-form" onsubmit="AddReply('{{comment.id}}', event)">
                                <input type="text" id="reply-input-{{comment.id}}" class="reply-input" style="width:100%;text-align:left;" autocomplete="off">
                                <input type="submit" id="reply-submit-{{comment.id}}" class="reply-submit" value=">" style="opacity:0;border-radius:50%;width:1rem;height:1rem;text-align:center;line-height:.2rem;">
                            </form>
                            <label id="add-label-{{comment.id}}" class="add-label" for="add-reply-{{comment.id}}">+</label>
                            <input id="add-reply-{{comment.id}}" type="submit" value="&nbsp;&nbsp;Post Reply" onclick="ToggleReplyInput('{{comment.id}}')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
<section id="extra-wrapper">
    <div class="extra-title-div">
        <label id="extra-title">Inspired? Take Action Today!</label>
    </div>
    <div id="extra-info">
        <div id="competition">
            <label class="extra-info-subtitle">Our Competition</label>
            <div id="competition-info">
                <p>Join SolveXchange and work<br>alongside other inspired youth<br>to develop your innovative<br>ideas. Submit your proposal to<br>our competition for a chance<br>to win SolveXchange support,<br>gain recognition and bring<br>your idea to reality.</p>
            </div>
        </div>
        <div id="chapter">
            <label class="extra-info-subtitle">Start a Chapter</label>
            <div id="chapter-info">
                <p>Interested in becoming a leader?<br>Open a chapter of SolveXchange<br>at your high school! Become a<br>part of our growing executive<br>team by bringing SolveXchange<br>to your own community.</p>
            </div>
            <button id="getinvolved-button2" type="button">Get Involved</button>
        </div>
        <div id="team">
            <label class="extra-info-subtitle">Join Our Exec Team</label>
            <div id="team-info">
                <p>Are you passionate about<br>the same goals we are? Do<br>you possess skills or ideas<br>that could improve<br>SolveXchange? Join our<br>executive team as we work<br>together towards<br>empowering more youth.</p>
            </div>
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='js/forum.js') }}" defer></script>
{% endblock %}