{% extends 'basenocss.html' %}

<!-- {% block lHeader %}
{% endblock %}
{% block cHeader %}
{% endblock %}
{% block rHeader %}
{% endblock %}
 -->

{% block head %}
<title>SolveXChange</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="color-scheme" content="light only" />
<meta name="description" content="SolveXChange Homepage" />
<meta property="og:site_name" content="SolveXChange" />
<meta property="og:title" content="SolveXChange" />
<meta property="og:type" content="website" />
<meta property="og:description" content="" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- <link rel="stylesheet" href="style.css" /> -->
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" sizes="16x16" />
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock %}	

{% block body %}
<div id="everything">
    <div id="top-bar">
        <img id="top-logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Organization Logo">
        <div id = "top-interactables">
            <p class="toplink"><a class="toplinka_" href="http://127.0.0.1:5000/">Home Page</a></p>
            <p class="toplink"><a class="toplinka"href="http://127.0.0.1:5000/aboutus">About Us</a></p>
            <p class="toplink"><a class="toplinka"href="http://127.0.0.1:5000/forum">Forum</a></p>
            <p class="toplink"><a class="toplinka"href="http://127.0.0.1:5000/resources">Resources</a></p>
            <p class="toplink"><a class="toplinka"href="http://127.0.0.1:5000/faq">FAQ</a></p>
            <p class="toplink"><a class="toplinka"href="http://127.0.0.1:5000/getinvolved">Get Involved</a></p>
            <p class="toplink"><a class="toplinka"href="http://127.0.0.1:5000/login">Log In</a></p>
        </div>
    </div>    
    <div id="topwrapper">
        <div id="leftwrappertop">
            <p id="headertext">SolveXChange</p>
            <p id="subtitletext">Turning Vision into Reality, One Proposal at a Time</p>
            <a href="http://127.0.0.1:5000/aboutus"><button type="button" id="aboutus-button">ABOUT US</button></a>

        </div>

        <img id="earth" draggable="false" src="{{ url_for('static', filename='images/earth.png') }}">

    </div>
    <div class="divider">
        <div class="divider1"></div>
        <div class="divider2"></div>
    </div>
    <div id="lowertop">
        <div id="lowertopwrap">
            <div id="innovate-sector">
                <div id="innovate-text-section">
                    <p class="style1-header-text">Innovate</p>
                    <p class="style1-desc-text">Students spark novel ideas and approaches by creating<br>inventive solutions and utilizing problem-solving and creative<br>thinking skills.</p>
                    <div class="style1-button-wrapper"><a href="https://docs.google.com/forms/d/e/1FAIpQLScwHzsuwB6qbjoAch0NWq4nf40U7KF-nRHoqGN5gFPpYORP2w/viewform"><button type="button" class="style1-button">Join now <img class="style1-right-arrow" draggable="false "src="{{ url_for('static', filename='images/right-arrow.png') }}"> </button></a></div>
                </div>
                <img class="style1-round-image" draggable="false"src="{{ url_for('static', filename='images/lightbulb.png') }}">
            </div>
            <div id="impact-sector">
                <img class="style1-round-image" draggable="false" src="{{ url_for('static', filename='images/hand.png') }}">
                <div id="impact-text-section">
                    <p class="style2-header-text">Impact</p>
                    <p class="style2-desc-text">Students make a tangible impact by implementing sustainable<br>solutions that address real-world challenges in their communities.</p>
                    <div class="style2-button-wrapper"><a href="http://127.0.0.1:5000/resources"><button type="button" class="style1-button">Resources<img class="style1-right-arrow" draggable="false "src="{{ url_for('static', filename='images/right-arrow.png') }}"> </button></a></div>
                </div>
                
            </div>
                
            <div id="inspire-sector">
                <div id="inspire-text-section">
                    <p class="style1-header-text">Inspire</p>
                    <p class="style1-desc-text">Students inspire others by demonstrating dedication in serving</br>their community, and motivating peers to contribute to change.</p>
                    <div class="style1-button-wrapper"><a href="http://127.0.0.1:5000/forum"><button type="button" class="style1-button">Share ideas <img class="style1-right-arrow" draggable="false "src="{{ url_for('static', filename='images/right-arrow.png') }}"> </button></a></div>
                </div>
                <img class="style1-round-image" draggable="false" src="{{ url_for('static', filename='images/mic.png') }}">
            </div>
        </div>
    </div>
    <div class="divider">
        <div class="divider3"></div>
        <div class="divider1"></div>
    </div>
    <div id="quotewrap">
        <div id="quotesection">
            <img id="image-quote" draggable="false" src="{{ url_for('static', filename='images/quote.png') }}">
            <div id="quote-text-wrapper"><p id="quote-text">“I’ve always heard students casually throw around valuable ideas to improve our community. Unfortunately, many of these ideas are often disregarded because students lack a platform to bring them to life. This became the main inspiration behind SolveXchange, to create an accessible platform with a focus on empowering students to become the driving force behind transformative change.”</p></div>
            <div id="quote-author-wrapper"><p id="author-text">- Emily Liu (SolveXchange Founder & President)</p></div>
            <div id="image-quote-bottom-wrapper"><img id="image-quote-bottom" draggable="false" src="{{ url_for('static', filename='images/quote.png') }}"></div>
        </div>
    </div>
    <div class="divider">
        <div class="divider1"></div>
        <div class="divider2"></div>
    </div>
    <div id="lowerbottom">
        <div id="lowerbottomwrap">

            <div id="lowerbottomtextwrap">
                <p id="lowerbottomheader">SUCCESS STORIES</p>
                <p id="lowerbottomdesc"><em>It all begins with an idea.</em></p>
            </div>
            <div id="carousel-wrapper">
                <div class="carousel-element">
                    <img class="carousel-image" draggable="false" src="{{ url_for('static', filename='images/testimonial1.png') }}">
                    <div class="right-carousel-wrapper">
                        <p class="carousel-header">JIBRIL MIAN</p>
                        <p class="carousel-description">Information about their proposal<br><br></nr>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis velit nec diam sodales, non ultricies magna rutrum.</p>
                        <p class="carousel-footer"><img class="location-image" draggable="false" src="{{ url_for('static', filename='images/location.png') }}"> Iroquous Ridge High School</p>
                    </div>
                </div>
                <div class="carousel-element">
                    <img class="carousel-image" draggable="false" src="{{ url_for('static', filename='images/testimonial2.jpeg') }}">
                    <div class="right-carousel-wrapper">
                        <p class="carousel-header">DANIEL & LOGAN</p>
                        <p class="carousel-description">Information about their proposal<br><br></nr>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis velit nec diam sodales, non ultricies magna rutrum.</p>
                        <p class="carousel-footer"><img class="location-image" draggable="false" src="{{ url_for('static', filename='images/location.png') }}"> Iroquous Ridge High School</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider">
        <div class="divider3"></div>
        <div class="divider1"></div>
    </div>
    
    <section id="extra-wrapper-parent"></section>
    <div id="extra-wrapper">
        <div class="extra-title-div">
            <label id="extra-title">Inspired? Take Action Today!</label>
        </div>
        <div id="extra-info">
            <div class="extra-format">
                <label class="extra-info-subtitle">Our Competition</label>
                <div class="extra-info-subtext">
                    <p>Join SolveXchange and work<br>alongside other inspired youth<br>to develop your innovative<br>ideas. Submit your proposal to<br>our competition for a chance<br>to win SolveXchange support,<br>gain recognition and bring<br>your idea to reality.</p>
                </div>
            </div>
            <div class="extra-format">
                <label class="extra-info-subtitle">Start a Chapter</label>
                <div class="extra-info-subtext">
                    <p>Interested in becoming a leader?<br>Open a chapter of SolveXchange<br>at your high school! Become a<br>part of our growing executive<br>team by bringing SolveXchange<br>to your own community.</p>
                </div>
                <a href="http://127.0.0.1:5000/getinvolved"><button id="getinvolved-button2" type="button">Get Involved</button></a>
            </div>
            <div class="extra-format">
                <label class="extra-info-subtitle">Join Our Exec Team</label>
                <div class="extra-info-subtext">
                    <p>Are you passionate about<br>the same goals we are? Do<br>you possess skills or ideas<br>that could improve<br>SolveXchange? Join our<br>executive team as we work<br>together towards<br>empowering more youth.</p>
                </div>
            </div>
        </div>
    </div>
    </section>
    <div id="lowermorebottom">
        <div id="lowermorebottomleft">
            <p id="lmbl_header">Are you interested?</p>
            <p id="lmbl_desc">Sign up to be a part of SolveXchange today or share your ideas on a community-wide forum!</p>
            <button type="button" class="button-style2">Join Now</button>
            <button type="button" class="button-style2">Share Ideas</button>
        </div>
        <img id="filler-image" draggable="false" src="{{ url_for('static', filename='images/filler.png') }}">
    </div>

</div>
<footer id="join-wrapper">
    <hr class="white-line">
    <div id="join-title-div">
        <label id="join-title">JOIN SOLVEXCHANGE</label>
    </div>
    <div id="join-slogan">
        <p>Join a community of inspring youth leaders.<br>Beome the driving force behind transformative change.</p>
    </div>
    <button id="signup-button" type="button">SIGN UP</button>
    <div id="join-below">
        <div class="join-subtitles-div">
            <label class="join-subtitles">Take Action</label>
            <div id="action-info">
                <p id="linkwrap"><a class="link" href="http://127.0.0.1:5000/forum">Forum</a><br><a class="link" href="https://docs.google.com/forms/d/e/1FAIpQLSeCGVtuVXWlC578r75UTw5MChgcqfPj03GsJfgxkf7ms8XMHw/viewform">Become an executive</a><br><a class="link" href='http://127.0.0.1:5000/getinvolved#startachapter-position'>Start a chapter</a></p>
            </div>
        </div>
        <div class="join-subtitles-div">
            <label class="join-subtitles">Connect</label>
            <div id="connect-info">
                <img id="insta" src="{{ url_for('static', filename='images/insta.png') }}" width="100">
                <img id="linkedin" src="{{ url_for('static', filename='images/linkedin.png') }}" width="100">
            </div>
            <div id="email">
                <a id="link2" href="mailto:solvexchange.info@gmail.com">solvexchange.info@gmail.com</a>
            </div>
        </div>
    </div>
    <hr class="white-line">
</footer>


{% endblock %}