{% extends 'basenocss.html' %}

<!-- {% block lHeader %}
{% endblock %}
{% block cHeader %}
{% endblock %}
{% block rHeader %}
{% endblock %}
 -->

{% block head %}
<title>SolveXChange</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="color-scheme" content="light only" />
<meta name="description" content="SolveXChange Homepage" />
<meta property="og:site_name" content="SolveXChange" />
<meta property="og:title" content="SolveXChange" />
<meta property="og:type" content="website" />
<meta property="og:description" content="" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- <link rel="stylesheet" href="style.css" /> -->
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" sizes="16x16" />
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock %}	

{% block body %}
<div id="everything">
    <div id="top-bar">
        <img id="top-logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Organization Logo">
        <div id = "top-interactables">
            <p class="toplink"><a class="toplinka" href="http://127.0.0.1:5000/">Home Page</a></p>
            <p class="toplink"><a class="toplinka"href="http://127.0.0.1:5000/">Our Impact</a></p>
            <p class="toplink"><a class="toplinka"href="http://127.0.0.1:5000/forum">Forum</a></p>
            <p class="toplink"><a class="toplinka"href="http://127.0.0.1:5000/">Resources</a></p>
            <p class="toplink"><a class="toplinka"href="http://127.0.0.1:5000/">Get Involved</a></p>
            <p class="toplink"><a class="toplinka"href="http://127.0.0.1:5000/login">Log In</a></p>
        </div>
    </div>    
    <div id="topwrapper">
        <div id="leftwrappertop">
            <p id="headertext">Turning Vision into Reality,<br>One Proposal at a Time</p>
            <button type="button" id="getinvolved-button">GET INVOLVED</button>

        </div>
        <div id="rightwrappertop">
            <img id="earth" draggable="false" src="{{ url_for('static', filename='images/earth.png') }}">

        </div>
    </div>
    <div class="divider"></div>
    <div id="lowertop">
        <div id="lowertopwrap">
            <div id="innovate-sector">
                <img class="style1-round-image" draggable="false"src="{{ url_for('static', filename='images/image-innovate.png') }}">
                <p class="style1-header-text">Innovate</p>
                <p class="style1-desc-text">Small blurb about<br>innovation in the<br>community</p>
                <div class="style1-button-wrapper"><button type="button" class="style1-button">Join now <img class="style1-right-arrow" draggable="false "src="{{ url_for('static', filename='images/right-arrow.png') }}"> </button></div>
            </div>
            <div id="impact-sector">
                <img class="style1-round-image" draggable="false" src="{{ url_for('static', filename='images/image-impact.png') }}">
                <p class="style1-header-text">Impact</p>
                <p class="style1-desc-text">Small blurb about<br>the impact students<br>can make</p>
                <div class="style1-button-wrapper"><button type="button" class="style1-button">Join now <img class="style1-right-arrow" draggable="false "src="{{ url_for('static', filename='images/right-arrow.png') }}"> </button></div>
            </div>
            <div id="inspire-sector">
                <img class="style1-round-image" draggable="false" src="{{ url_for('static', filename='images/image-inspire.png') }}">
                <p class="style1-header-text">Inspire</p>
                <p class="style1-desc-text">Small blurb about<br>the people you can<br>inspire</p>
                <div class="style1-button-wrapper"><button type="button" class="style1-button">Join now <img class="style1-right-arrow" draggable="false "src="{{ url_for('static', filename='images/right-arrow.png') }}"> </button></div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div id="quotewrap">
        <div id="quotesection">
            <img id="image-quote" draggable="false" src="{{ url_for('static', filename='images/quote.png') }}">
            <div id="quote-text-wrapper"><p id="quote-text"><strong>Some quote about the club and our goals to for students to become the driving for behind transformative change.</strong> Some quote about the club and our goals to for students to become the driving for behind transformative change.</p></div>
        </div>
    </div>
    <div id="lowerbottom">
        <div id="lowerbottomwrap">

            <div id="lowerbottomtextwrap">
                <p id="lowerbottomheader">SUCCESS STORIES</p>
                <p id="lowerbottomdesc"><em>It all begins with an idea.</em></p>
            </div>
            <div id="carousel-wrapper">
                <div class="carousel-element">
                    <img class="carousel-image" draggable="false" src="{{ url_for('static', filename='images/testimonial1.png') }}">
                    <div class="right-carousel-wrapper">
                        <p class="carousel-header">JIBRIL MIAN</p>
                        <p class="carousel-description">Information about their proposal<br><br></nr>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis velit nec diam sodales, non ultricies magna rutrum.</p>
                        <p class="carousel-footer"><img class="location-image" draggable="false" src="{{ url_for('static', filename='images/location.png') }}"> Iroquous Ridge High School</p>
                    </div>
                </div>
                <div class="carousel-element">
                    <img class="carousel-image" draggable="false" src="{{ url_for('static', filename='images/testimonial2.jpeg') }}">
                    <div class="right-carousel-wrapper">
                        <p class="carousel-header">DANIEL & LOGAN</p>
                        <p class="carousel-description">Information about their proposal<br><br></nr>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis velit nec diam sodales, non ultricies magna rutrum.</p>
                        <p class="carousel-footer"><img class="location-image" draggable="false" src="{{ url_for('static', filename='images/location.png') }}"> Iroquous Ridge High School</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div id="lowermorebottom">
        <div id="lowermorebottomleft">
            <p id="lmbl_header">Are you interested?</p>
            <p id="lmbl_desc">Sign up to be a part of SolveXchange today or share your ideas on a community-wide forum!</p>
            <button type="button" class="button-style2">Join Now</button>
            <button type="button" class="button-style2">Share Ideas</button>
        </div>
        <img id="filler-image" draggable="false" src="{{ url_for('static', filename='images/filler.png') }}">
    </div>

</div>
<footer id="join-wrapper">
    <hr class="white-line">
    <div id="join-title-div">
        <label id="join-title">JOIN SOLVEXCHANGE</label>
    </div>
    <div id="join-slogan">
        <p>Join a community of inspring youth leaders.<br>Beome the driving force behind transformative change.</p>
    </div>
    <button id="signup-button" type="button">SIGN UP</button>
    <div id="join-below">
        <div class="join-subtitles-div">
            <label class="join-subtitles">Take Action</label>
            <div id="action-info">
                <p id="linkwrap"><a class="link" href="http://127.0.0.1:5000/forum">Forum</a><br><a class="link" href="#">Become an executive</a><br><a class="link" href="#">Start a chapter</a></p>
            </div>
        </div>
        <div class="join-subtitles-div">
            <label class="join-subtitles">Connect</label>
            <div id="connect-info">
                <img id="insta" src="{{ url_for('static', filename='images/insta.png') }}" width="100">
                <img id="linkedin" src="{{ url_for('static', filename='images/linkedin.png') }}" width="100">
            </div>
            <div id="email">
                <a id="link2" href="mailto:solvexchange.info@gmail.com">solvexchange.info@gmail.com</a>
            </div>
        </div>
    </div>
    <hr class="white-line">
</footer>


{% endblock %}