{% extends 'base.html' %}

{% block head %}
<title>Login</title>
<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="vcenter fstretch">
    <form id="main">
        <h1>Log in</h1>
        Don't have an account? <a href="/register">Register here!</a><br>
        <div class="text-input">
            <input type="text" placeholder="HDSB Email"><br>
        </div>
        <div class="text-input">
            <input type="checkbox" style="display: none;" id="show-password" onclick="showPassword()">
            <div class="stretch flex">
                <input id="password-input" type="password" placeholder="Password">
                <label id="show-text" for="show-password">Show</label>
            </div>
        </div>
        <input type="submit" value="Log in!">
    </form>
</div>

<script>
    const showLabel = document.querySelector('#show-text'),
          showCheckbox = document.querySelector('#show-password'),
          passwordInput = document.querySelector('#password-input')

    function showPassword() {
        if (showCheckbox.checked){
            showLabel.innerHTML = 'Hide';
            passwordInput.type = 'text';
        }
        else{
            showLabel.innerHTML = 'Show';
            passwordInput.type = 'password';
        }
    }
</script>
{% endblock %}