{% extends 'base.html' %}

{% block head %}
<title>Register</title>
<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="vcenter fstretch">
    <form id="main" onsubmit="verify(event)">
        <h1>Register</h1>
        Create a new account!<br>
        <div id="error-box"></div>
        <div id="success-box"></div>
        <div class="text-input">
            <input type="text" id="email-input" placeholder="HDSB Email" autocomplete="off" spellcheck="false"><br>
        </div>
        <input type="submit" value="Verify!">
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}