{% extends 'base.html' %}

{% block head %}
<title>Register</title>
<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="vcenter fstretch">
    <form id="main" onsubmit="createAccount(event)">
        <h1>Register</h1>
        Create a new account!<br>
        <div id="error-box"></div>
        <div id="success-box"></div>
        <div class="text-input">
            <input value="{{email}}" type="text" id="email-input" placeholder="HDSB Email" autocomplete="off" spellcheck="false"><br>
        </div>
        <div class="text-input">
            <input id="token-input" type="text" value="{{token}}" placeholder="Token">
        </div>
        <div class="text-input">
            <input id="name-input" type="text" autocomplete="off" placeholder="Full name">
        </div>
        <div class="text-input">
            <input type="checkbox" style="display: none;" id="show-password" onclick="showPassword()">
            <div class="stretch flex">
                <input id="password-input" type="password" placeholder="Password">
                <label id="show-text" for="show-password">Show</label>
            </div>
        </div>
        <div class="text-input">
            <input id="confirm-input" type="password" placeholder="Confirm Password">
        </div>
        <input type="submit" value="Create Account!">
    </form>
</div>
{% endblock %}

{% block scripts%}
<script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}